WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
ADMIN_EMAILS=
BASE_PATH=http://localhost:5205
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5205
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
POSTHOG_KEY=
RESEND_API_KEY=
TRUSTED_ORIGINS=http://localhost:8000,http://example.com
CRON_SECRET=